body {
    background-color: aliceblue;
    color: goldenrod;

}

h1,
div,
.home,
.caption,
.img {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.link {
    font-size: 30px;
    color:goldenrod;
}